@{
  Layout = "_Layout";
}

<div class="container">
  <h3>Hello Pierre!</h3>
  <h3>What would you like to do?</h3>

  <p><a href='/vendors'>View All Vendors</a></p>
  <p><a href='/vendors/new'>Add A New Vendor!</a></p>
</div>